<%- include('partials/header') %>
<div>
  <h1>About</h1>
  <p>EJS (Embedded JavaScript) is a templating language for creating HTML with embedded JavaScript code. It helps developers build dynamic web pages by allowing JavaScript logic directly within HTML templates. With EJS, you can include variables, loops, and conditionals, making it easy to render data and create reusable components across web applications. EJS is commonly used with Node.js and Express, making server-side rendering more efficient and flexible.</p>

</div>
<%- include('partials/footer') %>