<%- include('partials/header') %>
<div>
  <h1><%= title %></h1>
  <% if(name) { %>
    <p>Hello, <%= name %>! Nice to meet you.</p>
  <% } else { %>
    <p>Welcome to the contact page.</p>
  <% } %>

</div>
<%- include('partials/footer') %>